*
{
	padding: 0;
	margin: 0;
}

body
{
	color: #fff;
}
/*exam1 - position*/
.to
{
	width: 500px;
	height: 500px;
	border: 5px solid #fff;
	margin: auto;
	position: relative;
}

.vang
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: yellow;
	position: absolute;
	top: 200px;
	left: 200px;
}

.xanh
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: blue;
	position: absolute;
	bottom: 70px;
	right: -150px;
}

.do
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	top: 70px;
	left: -150px;
}

/*exam2 - flex*/
.exam2-main
{
	width: 900px;
	height: 500px;
	background-color: darkred;
	margin: auto;
	display: flex;

	/*---flex---*/
	/*dao nguoc*/
	/*flex-direction: column-reverse;*/
	/*flex-direction: row-reverse;*/

	/*row*/
	/*flex-direction: row;*/
	/*flex-direction: row-reverse;*/

	/*---wrap---*/
	/*default*/
	/*flex-wrap: nowrap;*/

	/*wrap - tu dong xuong dong*/
	/*flex-wrap: wrap;*/

	/*wrap - tu dong xuong dong*/
	/*flex-wrap: wrap-reverse;*/


	/*---justify---*/
    /*don noi dung sang ben trai*/
	/*justify-content: flex-start;*/

	/*don noi dung sang ben phai*/
	/*justify-content: flex-end;*/

	/*don noi dung giua*/
	/*justify-content: center;*/

	/*dan deu noi dung*/
	/*justify-content: space-between;*/

	/*dan deu xung quanh*/
	/*justify-content: space-around;*/

	/*---align-items---*/
	/*noi dung len dau*/
	/*align-items: flex-start; */	

	/*noi dung xuong cuoi*/
	/*align-items: flex-end;*/

	/*noi dung can theo chu*/
	/*align-items: baseline;*/

	/*noi dung can theo giua*/
	/*align-items: center;*/

	/*---test---*/
	align-items: center;
	justify-content: center;
}

.obj
{
	color: #fff;
	background-color: brown;
	border: 1px solid yellow;
	border-radius: 25px;
	letter-spacing: 3px;
	padding: 10px;
	margin: 15px;
}

.obj:hover
{
	background-color: yellow;
	color: #000;
}
